body {
    color: 
    background: 
    margin: 
}

header {
    border-bottom: 
    padding: 
    font-size: 
    color: 
}

section {
    background: rgb
    padding-bottom: 
    padding-top: 
    display: 
    justify-content: 
}

.chamada-texto {
    
}




body {
    color: white;
    background: rgb(20, 20, 20)

}